<!--

body
{
 background-color:#000;
 color:#FFF;
}

/* -------- */

#page_body
 {
  float:left;
  width:66%;

  margin:5px 0px 2% 15%;

  /* border:1px solid #555; */
 }


/* --- [start] "user nav menu" styles --- */


#page_body #user_nav_container,
#page_body #footer_container
 {
  float:left;
  width:100%;

  color:#CCC;
 }

#page_body #user_nav_container a,
#page_body #footer_container a
 {
  text-decoration:none;

  color:#CCC;
 }

#page_body #user_nav_container #user_logo,
#page_body #footer_container #user_logo
 {
  float:left;

  font:1em arial, normal;
 }

.user_nav a:hover
 {
  font-weight:bold;
 }

#page_body #user_nav_container .user_nav,
#page_body #footer_container .user_nav
 {
  float:right;

  margin:0px 0px 10px 0px;
  padding:0px 0px 3px 0px;

  display:inline;
  text-align:right;

  list-style-type:none;

  border-bottom:1px solid #555;
 }

#page_body #user_nav_container .user_nav li,
#page_body #footer_container .user_nav li
 {
  float:right;

  margin:0px 5px;
  padding:2px 5px;


  font:.75em arial, normal;

  /* border:1px solid #555; */
 }

#page_body #user_nav_container .user_nav li a,
#page_body #footer_container .user_nav li a
 {
  text-decoration:none;

  color:#CCC;
 }

/* --- [end] "user nav menu" styles --- */



/* --- [start] "page nav menu" styles --- */


#page_content
 {
  float:left;
  width:100%;

  background-color:#222;
 }


#page_content #username
 {

 }


#page_content #page_nav
 {
  float:left;
  width:100%;

  margin:1em 0 .5em 0;
  padding:0px;

  display:inline;
  text-align:right;

  list-style-type:none;

  border-top:1px solid #444;
  border-bottom:1px solid #444;
 }

#page_content #page_nav li
 {
  float:left;

  margin:0px;
  padding:12px 25px;

  font:1.5em arial, normal;

  /* border:1px solid #555; */
 }

#page_content #page_nav li:hover
 {
  font-weight:bold;
 }

#page_content #page_nav #page_nav_selected
 { 
  border-top:2px solid #555;
  border-bottom:2px solid #555;
 }

#page_content #page_nav li a
 {
  text-decoration:none;

  color:#CCC;
 }

#page_content #page_nav #page_nav_selected a
 { 
  color:#FFF;
 }


/* --- [end] "page nav menu" styles --- */


#page_content #header_container
 {
  margin-top:1em;
  padding-left:10px;

  /* border:1px solid #555; */
 }

#page_content #header_container #username_header
 {
  font:3em arial, normal;
 }

#page_content #header_container #user_description
 {
  padding-left:10px;

  font:.8em arial, normal;
 }

#page_content #header_container #user_description .userhandle
 {
  color:#999;
 }

#page_content #header_container #user_description .user_description_text
 {
  color:#CCC;
 }

/* --- [start] "[user] update" styles --- */

#user_updates_container
 {
  float:left;
  width:98%;

  padding:0px 1% 5% 1%;
 }

#user_updates_container .user_update_post
 {
  float:left;
  width:95%;

  margin:0em 0 3em 0;
  padding:1%;

  font:.85em arial, normal;
 }


#user_updates_container .user_update_post .user_update_text_container,
#user_updates_container .user_update_post .user_update_signature_container,
#user_updates_container .user_update_post .user_update_stats_container
 {
  float:left;
  width:100%;
 }

#user_updates_container .user_update_post .user_update_signature_container
 {
  text-align:right;

  color:#999;
 }

#user_updates_container .user_update_post .user_update_signature_container a
 {
  font-size:1.1em;

  text-decoration:none;

  color:#999;

  border-bottom:1px solid #777;
 }

#user_updates_container .user_update_post .user_update_signature_container .user_update_signature_username_container
 {
  font-size:1.2em;
 }

#user_updates_container .user_update_post .user_update_signature_container .user_update_signature_userhandle_container
 {
  font-size:.8em;
 }

#user_updates_container .user_update_post .user_update_signature_container .user_update_signature_userhandle_container a
 {
  text-decoration:none;

  border:0px;
 }

#user_updates_container .user_update_post .user_update_text_container .user_update_image_gallery img
 {
  width:auto;
  height:250px;

  padding:3px;
 }

#user_updates_container .user_update_post .user_update_text_container a
 {
  text-decoration:none;

  border-bottom:1px solid #777;
 }


#user_updates_container .user_update_post .user_update_stats_container
 {
  margin-top:20px;

  border-top:1px solid #555;
 }

#user_updates_container .user_update_post .user_update_stats_container .user_update_stats_reblogs_container,
#user_updates_container .user_update_post .user_update_stats_container .user_update_stats_likes_container
 {
  float:left;

  margin-right:20px;

  padding:2px 5px;
 }

#user_updates_container .user_update_post .user_update_stats_container .user_update_stats_text_label
 {
  color:#999;
 }

#user_updates_container .user_update_post .user_update_stats_container .user_update_stats_timestamp_container
 {
  float:right;

  margin-top:3px;
  padding-right:5px;

  color:#BBB;

  font-size:.9em;
 }

#user_updates_container .user_update_post .user_update_stats_container .user_update_stats_timestamp_container .altscifi_timestamp_logo
 {
  color:#999;
 }

#user_updates_container .user_update_post a
 {
  color:#FFF;

  text-decoration:none;

  border-bottom:1px solid #777;
 }

#user_updates_container .user_update_post img
 {
  width:100%;

  padding:1px;

  border:1px solid #CC0000;
 }

/* --- [end] "[user] update" styles --- */


/* --- [start] "[user] conversation item" styles --- */

.conversation_comment_item
 {
  float:left;
  width:95%;

  padding:10px;

  font:.85em arial, normal;
 }

.conversation_comment_item .user_update_signature_userhandle_container
 {
  float:right;
  width:100%;

  text-align:right;

  margin:5px 0px 2em 0px;
  padding-bottom:2px;

  font-size:.75em;

  color:#888;

  border-bottom:1px solid #444;
 }

.conversation_comment_item .user_update_signature_userhandle_container a
 {
  text-decoration:none;

  border:0px;

  color:#999;
 }

.conversation_comment_item .comment_stats_container
 {
  float:left;
  width:100%;


.conversation_comment_item .comment_stats_container
 {
  margin-top:20px;

  border-top:1px solid #555;
 }

 }

.conversation_comment_item .comment_stats_container .user_update_stats_reblogs_container,
.conversation_comment_item .comment_stats_container .user_update_stats_likes_container
 {
  float:left;

  margin-right:20px;

  padding:2px 5px;

  border-top:1px solid #666;
 }

.conversation_comment_item .comment_stats_container .user_update_stats_text_label
 {
  color:#999;
 }

.conversation_comment_item .comment_stats_container .user_update_stats_timestamp_container
 {
  float:right;

  margin-top:3px;
  padding-right:5px;
  padding-left:15px;

  color:#BBB;

  font-size:.9em;

  border-top:1px solid #666;
 }

.conversation_comment_item .comment_stats_container .user_update_stats_timestamp_container .altscifi_timestamp_logo
 {
  color:#999;
 }

/* --- [end] "[user] conversation item" styles --- */


/* --- [start] "[user] conversation item nav" styles --- */

#conversation_comments_sort_order_container
 {
  float:left;
  width:100%;

  margin-top:20px;

  padding-left:10px;

  font:.65em arial, normal;

  color:#FFF;
 }

#conversation_comments_sort_order_container #comments_count_header
 {
  float:left;
  width:100%;

  margin-bottom:5px;

  font-size:1.5em;
 }

#conversation_comments_sort_order_container #conversation_comments_sort_order_menu
 {
  font:1em arial, normal;

  border:0;

  background-color:#444;

  color:#EFA700;
 }

#conversation_comments_sort_order_container #conversation_comments_sort_order_menu option
 {
  padding:0;

  color:#EFA700;
 }


#page_body #footer_container .user_nav
 {
  border-bottom:0;
 }

#site_marginalia
 {
  float:left;
  width:100%;

  margin:0;
  padding:0;

  border-top:1px solid #555;

  list-style-type:none;
 }

#site_marginalia li
 {
  margin-right:20px;

  display:inline;
 }

#site_marginalia a
 {
  font:.65em arial, normal;
 }

#site_marginalia  #join_altscifi
 {
  float:left;
 }

#site_marginalia  #copyright_dmca
 {
  float:right;
 }

#site_marginalia  #copyright_dmca a
 {
  color:#999;
 }

/* --- [end] "[user] conversation item nav" styles --- */

-->