
body
 {
  top:0px;

  margin:0px;
  padding:0px;

  font:normal 85% arial;

  background-color:#000;
 }

#page_body
 {
  background-color:#000; 
 }

#page_container, #page_header, #page_footer
 {
  float:left;
  width:100%;

  max-width:1000px;

  background-color:#FFF;

  border:1px solid #EEE;
  border-top:5px solid #EEE;
  border-bottom:5px solid #EEE;
 }

#page_container
 {
  width:80%;

  margin:20px 0px 20px 5%;
 }

#page_header
 {
  float:left;
  width:80%;	

  margin:0px 0px 30px 0px;
  padding:0px 0px 20px 0px;

  position:fixed;

  border-bottom:0px;
  /* border-bottom:1px solid #DDD; */

  background-color:#FFF;

  opacity:.9;
 }

#pre_nav_menu
 {
  float:right;

  padding:3px 7px;

  margin-right:5px;

  text-transform:uppercase;

  font-size:.70em;

  background-color:#F1F1F7;
 }

#pre_nav_menu a
 {
  text-decoration:none;

  color:#000;

  border-bottom:1px solid #FFF;
 }

#pre_nav_menu a:hover
 {
  border-bottom:1px solid #000;
 }

#pre_nav_menu #prenav_selected_item
{
 letter-spacing:.125em;

 border-bottom:1px solid #000;
}

#pre_nav_menu_divider
 {
  font-weight:bold;

  color:#FFF;
 }

#page_header_menu
 {
  float:left;
  width:100%;

  margin-bottom:0px;
  padding-bottom:0px;
 }

#site_subheader,
#pinku_site_subheader
 {
  float:right;

  font:normal .25em arial;

  text-transform:uppercase;

  letter-spacing:.85em;

  color:#999;
 }

#pinku_site_subheader
 {
  font:bold .35em arial;

  letter-spacing:.1em;

  color:#666;
 }


#site_subheader #eighteenplus,
#pinku_site_subheader #eighteenplus
 {
  font-weight:normal;
 }

#header_menu-page_description_container
 {
  float:left;
  width:65%;
 }

#header_menu-page_description
 {
  float:left;

  margin:0px 3% 0px 20%;
  padding:0px 1% 5px 1%;

  text-align:left;

  font:normal 100% arial;

  color:#AAA;
 }


#header_menu-dropdown_menu_container
 {
  float:left;
  width:34%;
 }

.header_menu-dropdown_menu
 {
  position:absolute;
  float:right;

  bottom:0px;
  right:0px;  

  padding:0px 3% 5px 2%;

  /* margin:20px 7% 10px 20%;
  padding:0px 1% 5px 1%; */

  text-align:left;

  font:normal 100% arial;

  color:#AAA;

  background-color:#F1F1F7;
 }

.header_menu-dropdown_menu_heading
 {
  color:#000;
 }

.header_menu-dropdown_menu select
 {
  background-color:#FFF;
  color:#666;

  border:0px;
 }

.header_menu-dropdown_menu option
 {
  padding:0px 10px;
 }

.header_menu-dropdown_menu .view_all_option
 {
  border-top:1px dotted #CCC;
 }

.header_menu-dropdown_menu .submit_button
 {
  border:#666;

  background-color:#FFF;
  color:#666;
 }

#home_dropdown_menu option
 {
  padding:0px 8px;
 }

#chronicle_dropdown_menu option
 {
  padding:0px 30px;
 }

#page_header_menu_logo,
#page_footer_menu_logo
 {
  float:left;

  margin:0px 3%;
  padding:0px 1%;

  list-style-type:none;

  text-align:center;

  font:normal 300% arial;

  color:#666;
 }

.page_header_menu_item, #page_header_menu_selected_item,
.page_footer_menu_item, #page_footer_menu_selected_item
 {
  float:left;

  margin:10px 3%;
  padding:0px 1%;

  list-style-type:none;

  text-align:center;

  border-bottom:5px solid #FFF;

  font:normal 200% arial;

  color:#CCC;
 }

.designer_categories_menu_item
 {
  float:left;
  width:100%;

  margin-top:3px;
 }

.designer_categories_menu_item #category_link,
#page_header_menu_categories_selected_item #category_link
 {
  float:right;

  margin:0px;
  padding:0px;

  font-size:13px;
  color:#6699FF;

  border-top:1px solid #EEE;
 }

#page_header_menu_categories_selected_item #category_link
 {
  font-size:15px;

  color:#0033CC;
 }

.designer_categories_menu_item #category_link:hover,
#page_header_menu_categories_selected_item #category_link:hover
 {
  font-size:15px;

  color:#0033CC;
 }

.designers_individual_category_gallery_section
 {
  float:left;
  width:100%;

  margin-bottom:10px;
 }

.designers_individual_category_gallery_section h2
 {
  padding-top:200px;
  text-transform:capitalize;
  border-bottom:1px solid #F1F1F7;
 }

.designers_individual_category_gallery_category_item
 {
  float:left;
  width:130px;

  margin-right:20px;
 }

#designers_individual_category_gallery_category_item .category_item_image
 {
  width:100px;
  height:150px;
 }

#designers_individual_category_gallery_category_item .category_item_description
 {
  margin-top:5px;

  line-height:110%;

  font-size:.85em;
 }

#page_header_menu_logo a,
.page_header_menu_item a,
#page_header_menu_selected_item
 {
  color:#000;

  text-decoration:none;
 }

#page_footer_menu_logo a,
.page_footer_menu_item a,
#page_footer_menu_selected_item
 {
  color:#CCC;

  text-decoration:none;
 }

.page_header_menu_item:hover,
.page_footer_menu_item:hover
 {
  border-bottom:5px solid #F1F1F7;
 }

#page_header_menu_selected_item,
#page_footer_menu_selected_item
 {
  border-bottom:5px solid #EEE;
 }

#page_footer
 {
  float:left;
  width:100%;

  margin:0px 0px 30px 0px;
  padding:20px 0px 0px 0px;

  border-top:2px solid #EEE;

  background-color:#FFF;
 }

#page_footer_menu
 {
  float:left;
  width:100%;

  margin-top:0px;
  padding-top:0px;
 }

#ribbon_nav
 {
 float:left;
 width:100%;

 margin-top:150px;
 }

.homepage_artist_main_pane_container,
.artist_page_image_container
 {
  float:left;
  width:60%;

  padding: 0px 0px 0px 5%;
 }

.artist_page_image_container
 {
  padding-left:0px;
 }

.homepage_artist_sidebar_container
 {
  float:left;
  width:29%;

  padding: 0px 2%;
 }

.homepage_artist_header
 {
  float:left;
  width:100%;
 }

.homepage_artist_header,
.homepage_artist_header_sidebar
 {
  padding-left:10px;
 }

.homepage_artist_header_sidebar
 {
  float:left;
  width:auto;

  padding-bottom:10px;
 }

.homepage_artist_header h2,
.homepage_artist_header_sidebar h2,
#artist_image_grid_view_container h2,
#our_artists_artist_image_grid_view_container h2
 {
  margin-bottom:0px;

  font-weight:normal;
  color:#333;
 }

.homepage_artist_header_sidebar h2,
#artist_image_grid_view_container h2,
#our_artists_artist_image_grid_view_container h2
 {
  margin-top:0px;
 }

#artist_image_grid_view_container h2,
#our_artists_artist_image_grid_view_container h2
 {
  margin-bottom:10px;
 }

.homepage_artist_header h2 a,
.homepage_artist_header_sidebar h2 a,
#artist_image_grid_view_container h2 a,
#our_artists_artist_image_grid_view_container h2 a
 {
  color:#333;

  text-decoration:none;
 }

#artist_page_header,
#artist_image_grid_view_container,
#our_artists_artist_image_grid_view_container
 {
  float:left;
  width:96%;

  padding:0px 0px 0px 4%;
 }

#artist_page_header,
#artist_image_grid_view_container
 {
  width:91%;
  padding-left:9%;
 }

#our_artists_artist_image_grid_view_container
 {
  padding:0px;
 }

#artist_image_grid_view_container,
#our_artists_artist_image_grid_view_container
 {
  margin:20px 0px 0px 0px;
  padding-bottom:100px;

  border-bottom:1px solid #F1F1F7;
 }

#artist_image_grid_view_container #gallery_images_section
 {
  float:left;
  width:100%;
 }

#artist_image_grid_view_container #gallery_text_section
 {
  float:left;
  width:100%;
 }

#artist_image_grid_view_container #gallery_text_section #message_text
 {
  float:left;

  padding-right:15px;

  border-top:1px solid #F1F1F7;

  color:#666;
 }

#our_artists_artist_image_grid_view_container .artists_page_individual_artist_gallery_container
 {
  margin-left:0px;
  padding-left:0px;
 }

#our_artists_artist_image_grid_view_container .artist_page_image_grid_item
 {
  float:left;
  width:18%;
 }

#artist_showcase_container
 {
  float:left;
  width:96%;

  padding-top:220px;
  padding-left:4%;
 }

#view_all_artists_section
 {
  margin:70px 0px;

  text-align:center;
 }

#view_all_artists_section a
 {
  font-size:150%;

  text-decoration:none;

  border-bottom:1px solid #F1F1F7;

  color:#000;
 }

#artist_page_header h2
 {
  margin-bottom:0px;

  font-weight:normal;
  color:#333;
 }

#artist_page_header h2 a
 {
  text-decoration:none;
 }

#artist_page_header h3
 {
  margin:0px 0px 10px 0px;

  font-weight:normal;
  color:#333;
 }

.homepage_artist_header h3,
.homepage_artist_header_sidebar h3
 {
  margin:0px 0px 10px 0px;

  font-weight:normal;
  color:#333;
 }

.artist_page_preview_grid
 {
  float:left;
  width:100%;

  margin-top:50px;
 }

.artist_page_image_grid_item
 {
  float:left;
  width:20%;

  margin:0px 1% 1% 0px;
 }

.artist_page_image_grid_item .image_container
 {
  float:right;
  width:100%;

  margin:0px;
  padding-left:3px;
 }

.artist_page_preview_grid_item,
.artist_page_preview_grid_item_selected
 {
  float:left;
  width:28%;

  margin:3px;
  padding:3px;

  border:1px solid #FFF;
 }

.artist_page_preview_grid_item_selected
 {
  border:1px solid #000;
 }

.artist_page_preview_grid_item .preview_item_image,
.artist_page_preview_grid_item_selected .preview_item_image
 {
  float:left;
  width:100%;

  height:100px;

  background-size: cover;
  cursor:pointer;
 }

.artist_page_image_container,
.artist_page_image_sidebar_container
 {
  padding-top:210px;
 }

.artist_page_image_sidebar_container
 {
  float:left;
  width:29%;

  padding-right:2%; 
  padding-left:2%; 
 }

.artist_page_image_sidebar_container .artist_item_header
 {
  float:left;
  width:109%;

  margin:0px 0px 10px 0px;
  padding-top:0px;

  font-weight:normal;
 }

.artist_page_image_sidebar_container .artist_item_details
 {
  float:left;
  width:100%;

  margin:0px 0px 10px 10px;
 }

.artist_page_image_sidebar_container .artist_item_details .artist_item_details_description
 {
  color:#666;
 }

.artist_page_image_sidebar_container .artist_item_paypal_section,
.artist_page_image_sidebar_container .artist_item_enlarge_section,
.artist_page_image_sidebar_container .artist_item_commission_section,
.artist_page_header .artist_item_commission_section
 {
  float:left;
  width:100%;

  padding-left:10px;
 }

.artist_page_image_sidebar_container .artist_item_paypal_section,
.artist_page_image_sidebar_container .artist_item_enlarge_section
 {
  padding:20px 0px;
 }

.artist_page_image_sidebar_container .artist_item_option_section
 {
  float:left;
  width:100%;

  margin-bottom:10px;
 }

.artist_page_image_sidebar_container .artist_item_option_description_section
 {
  float:left;
 }

.artist_page_image_sidebar_container .artist_item_option_paypal_section
 {
  float:right;
 }

.artist_page_image_sidebar_container .artist_item_option_paypal_section .currency_name
 {
  font-size:65%;
 }

.artist_page_image_sidebar_container .artist_item_enlarge_section
 {
  padding-top:30px;
 }

.artist_page_image_sidebar_container .artist_item_paypal_section
 {
  /* border-top:1px solid #F1F1F7;
  border-bottom:1px solid #F1F1F7; */
 }

.artist_page_image_sidebar_container .artist_item_commission_section
 {
  margin-top:20px;

  line-height:150%;

  border-left:5px solid #EFD700;
 }

.artist_page_image_sidebar_container .artist_item_paypal_section a,
.artist_page_image_sidebar_container .artist_item_enlarge_section a,
.artist_page_image_sidebar_container .artist_item_commission_section a
 {
  text-decoration:none;

  border-bottom:1px solid #F1F1F7;

  font-size:125%;
 }

.artist_page_image_sidebar_container .artist_item_commission_section a
 {
  font-size:100%;

  color:#333;
 }

.artist_page_image_sidebar_container .artist_item_status_notice_section
 {
  float:left;
  width:100%;

  margin:0px;
  padding:0px;

  font-size:85%;

  color:#333;
 }

.ribbon_nav_subhead
 {
  color:#CCC;

  text-decoration:none;
 }

.homepage_artist_image_sidebar_item
 {
  float:left;
  width:100%;
 }

.homepage_artist_image_container_sidebar
 {
  float:right;
  width:100%;

  margin:0px;

  padding-left:3px;
 }

.artist_page_preview_grid_item .homepage_artist_image_container_sidebar
 {
  float:left;
  width:100%;

  padding:0px;
 }

.artist_page_subgallery_grid
 {
  float:left;
  width:100%;

  margin-top:10px;
 }

.artist_page_subgallery_grid_item
 {
  float:left;

  margin-right:1%;

  width:23%;
  height:100px;
 }

.artist_page_subgallery_grid_item .preview_item_image
 {
  float:left;
  width:100%;

  height:100px;

  background-size: cover;
  cursor:pointer;
 }

.artist_page_subgallery_grid_item .preview_item_image_enlarge
 {
  color:#999;

  text-decoration:none;
 }


.homepage_artist_image_container_sidebar_spacer
 {
  float:right;
  width:100%;

  margin:10px 0px;
 }

.ribbon_nav_item_image,
.homepage_artist_nav_item_image
 {
  float:left;
  width:100%;

  height:200px;

  background-size: cover;
  cursor:pointer;
 }

.homepage_artist_nav_item_image
 {
 height:600px;
 }

.homepage_lightbox_logo_container_main_pane,
.homepage_lightbox_logo_container_sidebar,
.artist_gallery_image_subhead,
.artist_gallery_image_nav
 {
  float:left;
  width:100%;

  margin:2px 0px;
  padding:4px 0px;
 }

.artist_gallery_image_subhead
 {
  border-bottom:1px solid #EEE;

  color:#333;
 }

.artist_gallery_image_subhead .artist_gallery_item_artist_name
 {
  float:left;

  padding:3px 10px;
 }

.artist_gallery_image_subhead .artist_gallery_item_details
 {
  float:right;

  padding:3px 10px;
 }

.homepage_lightbox_logo_container_sidebar
 {
 margin:0px;
 }

.homepage_lightbox_logo:hover
 {
  background-color:#EEFFFF;
 }

.homepage_lightbox_logo_enlarge
 {
  float:left;
 }

.homepage_lightbox_logo_buy
 {
  float:right;
 }

.homepage_lightbox_logo a,
.homepage_lightbox_logo_enlarge a,
.homepage_lightbox_logo_buy a
 {
  color:#999;

  text-decoration:none;
 }

.homepage_artist_gallery_link_section
 {
  float:left;
  width:100%;

  padding:30px 0px 30px 0px;

  font-size:110%;
 }

.homepage_artist_gallery_link_section a
 {
  color:#666;

  text-decoration:none;
  border-bottom:1px solid #EEE;
 }

.ribbon_nav_read_more_link
 {
  text-decoration:none;
 }

#page_content,
#homepage_content
 {
  float:left;
  width:100%;

  margin-top:170px;
 }

#homepage_content
 {
  margin-top:180px;
 }

.artist_display_section_container
 {
  float:left;
  width:100%;

  margin:0px 0px 100px 0px;
 }

#subscribe_section
 {
  float:left;

  margin:0px 0px 15px 70px;
  padding:0px 30px;

  color:#AAA;
 }

#subscribe_section a
 {
  color:#666;

  text-decoration:none;

  border-bottom:1px solid #F1F1F7;
 }

.page_section, .our_artists_page_section
 {
  float:left;

  /* rem: width is set to '90%' to offset the 10% left margin [see below]. */
  width:85%;

  /* margin:0px 0px 40px 10%; */

  margin:0px 0px 40px 10%;
  /* padding-bottom:25px; */

  line-height:150%;

  /* border-bottom:1px solid #EEE; */

  color:#666;
 }

.our_artists_page_section .section_main_text-story
 {
  width:100%;
 }

.page_section a
 {
  text-decoration:none;	

  color:#888;

  border-bottom:1px solid #CCC;
 }

.section_main_text, .section_main_text-story
 {
  float:left;
  width:75%;

  font-size:115%;

  padding-right:3%;
 }

.section_main_text-story img
 {
  max-width:100%;
 }

.section_main_text-story
 {
  font-size:100%;
 }

.section_text_sidebar
 {
  float:left;
  width:17%;

  padding-left:2%;

  border-left:1px solid #EEE;

  color:#999;

  /* word-break:break-all; */

  /* credit: http://codeitdown.com/css/hyphens/ */
  -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
 }

.twitter_user_header
 {
  float:left;
  width:100%;

  margin-bottom:5px;

  padding-left:5px;

  border-left:5px solid #F1F1F7;

  font-weight:bold;
 }

.sidebar_text_body
 {
  padding-left:9px;
 }

.section_main_text .article_headline,
section_main_text-story .article_headline
 {
  font-size:150%;

  line-height:125%;

  text-decoration:none;

  /* border-bottom:0px; */
  border-bottom:1px solid #F1F1F7;
 }

.gallery_container
 {
  float:left;
  width:100%;
 }

.gallery_image
 {
  float:left;
  margin:0px 3px 3px 0px;

  height:200px;

  border:0px;
 }

.artist_name_header, .artist_name_sidebar_header
 {
  float:left;
  width:100%;
 }

.artist_name_sidebar_header
 {
  border-top:1px solid #EEE;
 }


.artist_name_heading
 {
  margin-left:10px;
  padding-left:0px;

  list-style-type:square;

  /* font-size:125%; */

  font-size:95%;
 }

.artist_name_heading li
 {
  color:#AAA;
 }

.artist_name_heading li a
 {
  color:#333;

  text-decoration:none;

  border-bottom:1px solid #EEE;
 }

.artist_name_text
 {
  color:#666;
 }

.header_image_container
 {
  float:left;
  width:100%;

  margin-bottom:10px;
 }

.header_image_container img
 {
  min-width:100%;
 }

.header_img_href
 {
  float:left;
  width:100%;
 }

.header_image
 {
  width:auto;

  height:auto;
  max-width:100%;
 }

.app_item_page_more_link_container,
.app_item_page_more_link_container_hidden
 {
  float:left;
  width:100%;
 }

.app_item_page_more_link_container_hidden
 {
  display:none;
 }

.artists_page_individual_artist_gallery_container
 {
  float:left;
  width:96%;

  margin:20px 0px 120px 0px;
  padding-left: 4%;
 }

.artist_page_individual_artist_gallery_header
 {
  float:left;
  width:100%;

  padding:0px;
 }

.artist_page_individual_artist_gallery_header h2
 {
  margin:0px;

  font-weight:normal;
  color:#333;
 }

.artist_page_individual_artist_gallery_header h2 a
 {
  text-decoration:none;
 }

.artist_page_individual_artist_gallery_header h3
 {
  margin:0px 0px 10px 0px;

  font-weight:normal;
  color:#333;
 }

.artist_page_individual_artist_gallery_section
 {
  float:left;
  width:100%;
 }

.artist_page_individual_artist_gallery_section h1
 {
  font-weight:normal;
  font-size:125%;

  color:#333;
 }

.artist_page_individual_artist_gallery_section h2
 {
  font-weight:normal;
  font-size:110%;

  color:#EFA700;
 }

.artists_page_individual_artist_description_section
 {
  float:left;
  width:100%;

  margin-left:15px;

  color:#555;
 }

.artists_page_individual_artist_image_grid_view_container
 {
  float:left;
  width:96%;

  margin:20px 0px 20px 0px;
  padding: 0px 0px 0px 4%;
 }

.artists_page_individual_artist_gallery_link_section
 {
  float:left;
  width:100%;

  padding:0px;

  font-size:125%;
 }

.artists_page_individual_artist_gallery_link_section a
 {
  color:#666;

  text-decoration:none;
  border-bottom:1px solid #EEE;
 }

.artists_page_individual_artist_gallery_link_section h2
 {
  margin-bottom:0px;

  font-weight:normal;
  color:#333;
 }

.artists_page_individual_artist_gallery_link_section h2 a
 {
  text-decoration:none;
 }

.artists_page_individual_artist_gallery_link_section h3
 {
  margin:0px 0px 10px 0px;

  font-weight:normal;
  color:#333;
 }

.store_header_menu-dropdown_menu
 {
  position:absolute;

  float:right;

  bottom:0px;
  right:0px;  

  padding:0px 3% 5px 2%;

  /* margin:20px 7% 10px 20%;
  padding:0px 1% 5px 1%; */

  text-align:left;

  font:normal 100% arial;

  color:#AAA;

  background-color:#FFF;
 }

#categories_select_nav option
 {
  text-transform:capitalize;
 }

.artist_page_preview_grid_gallery,
.artist_page_preview_grid_view_all_link,
.artist_page_preview_grid_view_all_link_selected
 {
  float:left;
  width:100%;
 }

.artist_page_preview_grid_view_all_link,
.artist_page_preview_grid_view_all_link_selected
 {
  padding-top:10px;

  text-align:center;
 }


.artist_page_preview_grid_view_all_link a,
.artist_page_preview_grid_view_all_link_selected a
 {
  text-decoration:none;

  border-bottom:1px solid #F1F1F7;

  font-size:125%;
 }

.artist_page_preview_grid_view_all_link
 {
  display:none;
 }

.artist_page_preview_grid_view_all_link_selected
 {
  display:block;
 }
